body {
    margin: 4rem auto 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: antiquewhite;
    margin: 0;
    padding: 0;
}

.title {
    font-family: 'Courier New', Courier, monospace;
}

p {
    line-height: 1.8rem;
}

.overlay {
    background-color: black;
    width: 100%;
    z-index: 4;
    position: fixed;
    height: 100%;
    opacity: .6;
    display: none;
}

.main-header {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to right, #FB5607, #FF006E);
    color: antiquewhite;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}

.main-header .logo {
    margin: .5rem 0 .5rem 1rem;
    padding: 0;
    min-width: 170px;
    font-family: Caveat, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2.5rem;
    transition: .3s ease;
}

.main-header .logo:hover {
    transform: scale(1.05);
}

.main-nav {
    display: flex;
}

.main-nav-list {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 0 2rem 0 0;
    padding: 0;
}

.main-nav-list li {
    padding: 1.2rem 1.1rem 0;
    transition: .3s ease;
}

.main-nav-list a {
    display: block;
    width: 100%;
    height: 100%;
}

.main-nav-list li:hover {
    background-color: #FFBE0B;
}

.main-nav-list li:hover a {
    color: black;
}

.main-nav-list li:hover .mn-res-list {
    display: flex;
}

.mn-res-list {
    display: none;
    flex-direction: column;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 3rem;
    list-style: none;
    transform: translate(-1.8rem, .2rem);
}

.mn-res-list li {
    background: linear-gradient(to right, #FB5607, #FF006E);
    text-align: center;
    margin: 1px 0;
    padding: .3rem .5rem;
    border-radius: 5px;
    transition: .1s ease;
}

.mn-res-list li:hover {
    background: #FFBE0B;
    cursor: pointer;
}

.main-nav-burger {
    display: none;
    position: relative;
    right: 1rem;
    padding: .9rem 0 0;
    transition: .3s ease;
}

.main-nav-burger:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.main-nav-burger p {
    position: absolute;
    top: -.35rem;
    right: .75rem;
    font-size: 1.5rem;
    font-weight: bold;
    display: none;
}

.bar {
    width: 30px;
    height: 5px;
    background-color: antiquewhite;
    margin: 5px;
    border-radius: 10px;
}

.hero {
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: center;
    border-bottom: 5px solid antiquewhite;
}

.hero-bg img {
    z-index: -1;
    width: 100%;
    height: 120%;
    position: absolute;
    left: 0;
}

.hero-content {
    text-align: center;
    background: linear-gradient(to right, #FB5607, #FF006E);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40rem;
    height: fit-content;
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 0 2rem 2rem;
    position: relative;
    top: 5rem;
    z-index: 1;
}

.hero-content .hero-title {
    margin-bottom: 1rem;
    color: antiquewhite;
}

.hero-content .hero-para {
    font-size: 1rem;
    color: antiquewhite;
    margin-bottom: 1.5rem;
}

.hero-content .lesson {
    background-color: #FFBE0B;
    color: black;
    border: 3px solid;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border-radius: 80px;
    transition: .3s ease;
}

.hero-content .lesson:hover {
    transform: scale(1.03);
}

.hero-content .socials {
    display: flex;
    justify-content: space-evenly;
    margin: 1.5rem auto 0;
    width: 70%;
}


.hero-content .socials img {
    width: 2.5rem;
    transition: .3s ease;
}

.hero-content .socials img:hover {
    transform: scale(1.1);
}

.whats-new {
    padding: 2rem 3rem 3rem;
    margin: auto;
    max-width: 1600px;
    text-align: center;
    background: linear-gradient(to right, #8338EC, #3A86FF);
    color: antiquewhite;
}

.whats-new .welcome-title {
    font-size: 3rem;
}

.whats-new img {
    width: 25rem;
    float: left;
    margin: 1rem 2rem 1rem 0;
    border-radius: 20px;
}

.reviews {
    margin: 0 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1600px;
    margin: 4rem auto;
    padding: 0 3rem;
}

.reviews .title {
    font-size: 2rem;
}

.review {
    background: linear-gradient(to right, #FB5607, #FF006E);
    color: antiquewhite;
    border: 3px solid #8338EC;
    border-radius: 20px;
    width: fit-content;
    padding: .1rem 0;
    margin: 2rem 0;
}

.review .rev-name {
    position: relative;
    bottom: 1rem;
    left: 3rem;
    background: linear-gradient(to right, #8338EC, #3A86FF);
    border-radius: 20px;
    border: 3px solid white;
    width: fit-content;
    padding: .5rem 2rem;
    margin: 0;
    font-size: 1.5rem;
}

.review .rev-rating {
    letter-spacing: .5rem;
    font-size: 2rem;
    margin: 0;
}

.useful {
    background: linear-gradient(to right, #8338EC, #3A86FF);
    color: antiquewhite;
    text-align: center;
    padding: 2rem 2rem 5rem 2rem;
    max-width: 1600px;
    margin: 0 auto;
}

.useful .sec-title {
    font-size: 2rem;
}

.useful .sec-info {
    margin-bottom: 5rem;
}

.useful #bookLessNow {
    background-color: #FFBE0B;
    color: black;
    border: 3px solid;
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 80px;
    width: fit-content;
    margin: 0 auto;
    transition: .3s ease;
}

.useful #bookLessNow:hover {
    transform: scale(1.03);
}

.main-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #FB5607, #FF006E);
    color: antiquewhite;
}

.main-footer .copyright {
    text-align: center;
    padding: 0 2rem;
}

.main-footer .footer-logo {
    margin: 0;
    font-family: Caveat, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2rem;
    transition: .3s ease;
}

.main-footer #footerLogo:hover {
    transform: scale(1.04);
}

.main-footer .copyright p {
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

.footer-socials {
    display: flex;
    justify-content: space-between;
    width: 20%;
}


.footer-socials img {
    width: 1.6rem;
    transition: .3s ease;
}

.footer-socials img:hover {
    transform: scale(1.1);
}

.main-footer .links {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    flex-wrap: wrap;
}

.main-footer .links a {
    margin: .2rem .8rem;
    font-size: 1rem;
}

/* ALPHABET CARDS */
.alpha-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 1rem 3rem;
    max-width: 1600px;
}

.alpha-card {
    width: 150px;
    height: 200px;
    border-radius: 10px;
    margin: 1.5rem;
    background: linear-gradient(to right, #3A86FF, #8338EC);
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width: 715px) {
    .overlay.active {
        display: block;
    }
    .main-nav-burger {
        display: block;
    }
    .main-nav-burger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .main-nav-burger.active .bar:nth-child(1) {
        transform: rotate(45deg) translate(0, .9rem);
    }
    .main-nav-burger.active .bar:nth-child(3) {
        transform: rotate(-45deg) translate(0, -.9rem);
    }
    .main-nav-list {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        transform: translate(5rem, 0);
        height: 100vh;
        padding: 1.5rem 0;
        position: absolute;
        background: linear-gradient(to right, #FB5607, #FF006E);
        transition: .5s ease;
    }
    .main-nav-list li {
        padding: 1.5rem;
    }
    .mn-res-list {
        transform: translate(-12rem, 10rem);
        transition: .5s ease;
    }
    .mn-res-list:hover li {
        background-color: #FFBE0B;
    }
    .main-nav-list.active {
        transform: translate(-10rem, 0);
    }
    .whats-new img {
        width: 50%;
    }
}

@media (max-width: 600px) {
    .hero-content {
        width: 60%;
        top: 7rem;
    }
    .hero-para {
        display: none;
    }
    .whats-new img {
        width: 100%;
    }
    .main-footer {
        flex-direction: column;
    }
    .main-footer .copyright {
        margin-top: .5rem;
    }
    .main-footer .socials {
        margin: 1rem;
        width: 35%;
    }
    .main-footer .links {
        margin-bottom: .5rem;
    }
}