
  @import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Holtwood+One+SC&family=Playpen+Sans:wght@500&display=swap');



body {
    background-color: #FCFFFC;
    height: 100vh;
}

h1 {
    font-family: 'Agbalumo';
    font-size: 1.7rem;
    color: #2D3A3A;
}

h2 {
    font-family: 'Holtwood One SC', serif;
    font-size: 2rem;
    text-align: center;
    color: #2D3A3A;
}

h3 {
    font-size: 1.5rem;
}

p {
    color: #2D3A3A;
    font-size: 1.2rem;
}

.brand:hover .logo {
    background-color: #248232;
    color: #FCFFFC;
}

.brand:hover h1 {
    color: #FCFFFC;
}

.hero-container {
    box-shadow: -10px 10px 0 #FCFFFC, 
                -13px 13px 0 #2D3A3A, 
                -21px 21px 0 #FCFFFC, 
                -23px 23px 0 #2D3A3A;
}

.free-lesson-cta, .social-proof, .about-intro {
    background-color: #FCFFFC;
    opacity: 1;
    background-image:  radial-gradient(#2BA84A 2px, transparent 2px), radial-gradient(#2BA84A 2px, #FCFFFC 2px);
    background-size: 74px 74px;
    background-position: 0 0,35px 35px;
}