
  @import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Holtwood+One+SC&family=Playpen+Sans:wght@500&display=swap');



body {
    background-color: #FCFFFC;
    height: 100vh;
}

h1 {
    font-family: 'Agbalumo';
    font-size: 1.7rem;
}

h2 {
    font-family: 'Holtwood One SC', serif;
    font-size: 2rem;
    text-align: center;
}

.hero-container {
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: -10px 10px 0 white, 
                -11px 11px 0 black, 
                -20px 20px 0 white, 
                -21px 21px 0 black;
}

.free-lesson-cta, .social-proof {
    background-color: #FCFFFC;
    opacity: 1;
    background-image:  radial-gradient(#2BA84A 1.85px, transparent 1.85px), radial-gradient(#2BA84A 1.85px, #FCFFFC 1.85px);
    background-size: 74px 74px;
    background-position: 0 0,37px 37px;
}